html {
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   background: #333;
   color: #eee;
}

body {
   width: 100%;
}

.pixel {
   width: 30px;
   height: 30px;
   float: left;
   transition: all;
}
